body {
    background-color: #0a0a0a; /* ڕەنگی ڕەشی پشتەوە */
    color: white;
    font-family: sans-serif;
    margin: 0;
}

span {
    color: #00ff88; /* ڕەنگی سەوزە درەوشاوەکە */
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border: 5px solid #ffaa00; /* هێڵە زەردەکەی دەوری وێنەکە */
    margin: 20px;
    border-radius: 30px;
}

.btn-main {
    background-color: #00ff88;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
