.filter-container {
    text-align: center;
    margin: 20px 0;
}

.filter-btn {
    background-color: white;
    color: #2563eb;
    border: 2px solid #2563eb;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.filter-btn:hover {
    background-color: #2563eb;
    color: white;
}
